<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="13" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="14">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="15">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="16" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="17" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="18" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="19" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="20" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="21">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="22">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="23" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="24" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="25" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="26" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="27" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="28">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="29">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="30" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="31" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="32" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="33" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="34" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="35">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="36">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="37" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="38" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="39" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="40" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="41" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="42">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="43">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="44" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="45" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="46" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="47" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="48" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="49">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="50">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="51" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="52" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="53" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="54" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="55" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="56">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="57">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="58" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="59" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="60" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="61" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="62" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="63">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="64">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="65" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="66" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="67" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="68" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="4468347" _mstHash="69" style="direction: ltr; text-align: left;"><title _mstTextHash="112281" _mstHash="70">Marcador</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="135850" _mstHash="71">Miniatura</text></svg>

            <div class="card-body">
              <p class="card-text" _msttexthash="13197860" _msthash="72" style="direction: ltr; text-align: left;">Esta es una tarjeta más amplia con texto de apoyo a continuación como una introducción natural al contenido adicional. Este contenido es un poco más largo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="58331" _msthash="73" style="direction: ltr;">Ancho</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msttexthash="185055" _msthash="74" style="direction: ltr;">modulación</button>
                </div>
                <small class="text-muted" _msttexthash="117624" _msthash="75" style="direction: ltr; text-align: left;">9 minutos</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
